@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
    font-family: 'Readex Pro', 'Arial', sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.7rem);
    box-sizing: content-box;
}

:root {
    --base-color: #E3EBEE;
    --text-color: #33363A;
    --supp-color: #ffffff;
    --acce-color: #2171EA;
    --vali-color: #17a864;
    font-weight: 300;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #0F1A20;
        --text-color: #EBEBEB;
        --supp-color: #1A2931;
        --acce-color: #2171EA;
        --vali-color: #6eeeb2;
        font-weight: 200;
    }
}

strong {
    text-decoration: underline;
}

abbr {
    text-decoration: none;
}

body {
    margin: 0px;
    display: flex;
    height: 100vh;
    color: var(--text-color);
}

splash {
    background: url(./images/taiki-ishikawa-T2_y9Y5hcIs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

splash>div {

    width: 100%;
    height: 20vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00000077;
    padding: .5rem;

}

splash img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

splash>div>p {
    color: var(--supp-color);
    font-size: 3rem;
}

container {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
}

container>* {
    flex: 1 1 auto;
    padding: 3rem;
    background-color: var(--base-color);
}

header {
    text-align: justify;
    margin: -20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    background-color: var(--supp-color);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 1 1 7%;
}

form label {
    font-size: .7rem;
    font-weight: 100;
    margin-bottom: .2rem;
}

select {
    background-color: transparent;
    appearance: none;
    position: relative;
}

select::after {
    position: absolute;
    content: "▼";
    font-size: 1rem;
    top: 0px;
    right: 0px;
    height: 1rem;
    width: 1rem;
}

ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 50px;

}

form {
    border: none;
    margin: -70px 0;

}

li {
    display: flex;
    flex-direction: column;
    flex: 1 0 250px;
    margin: 10px 0;
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--supp-color) inset !important;
}

input,
select {
    appearance: none;
    height: 1.2rem;
    background-color: transparent;
    font-family: 'Readex Pro', 'Arial', sans-serif;
    border: 1px solid var(--text-color);
    border-radius: .2rem;
    color: var(--text-color);
    font-size: .7rem;
    width: 100%;
    box-sizing: content-box;
    transition: all 0.2s;
}


input:focus,
input:hover,
input:focus-visible,
select:focus,
select:hover,
select:focus-visible {
    border: 1px solid var(--acce-color);
}

input[type="text"]:valid:not(:placeholder-shown),
input[type="email"]:valid:not(:placeholder-shown) {
    border: 1px solid var(--vali-color);
}

input[type="text"]:invalid:not(:placeholder-shown),
input[type="email"]:invalid:not(:placeholder-shown),
select:invalid:nth-last-child(1n+3) {
    border: 1px solid rgb(255, 166, 0);
}

input.invalid {
    border: 1px solid rgb(255, 166, 0);
}

input.valid {
    border: 1px solid var(--vali-color);
    ;
}


label[for="password-confirm"]+p {
    position: absolute;
    font-size: .5rem;
    color: rgb(255, 166, 0);
    bottom: -20px;
    left: 0;
    margin: 0;
}

button[type='submit'] {
    height: 2rem;
    width: 6rem;
    font-family: 'Readex Pro', 'Arial', sans-serif;
    font-size: .7rem;
    font-stretch: condensed;
    color: var(--text-color);
    background-color: var(--acce-color);
    border: none;
    border-radius: .2rem;
    transition: all .2s ease-out;
}

button[type='submit']:hover,
button[type='submit']:focus,
button[type='submit']:focus-visible {
    background-color: #4790ff;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    scale: 1.02;
}

button[type='submit']:active {
    background-color: #195bbe;
    -webkit-transform: scale(.98);
    transform: scale(.98);
    scale: .98;
}

footer {
    background-color: var(--supp-color);
    flex: 0 0 2rem;
    padding: 0;
}

button[type='submit']+p {
    font-weight: 300;
}

button[type='submit']+p a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--text-color);
}

@media (max-device-width: 900px) {
    body {
        flex-direction: column;
    }

    splash {
        min-height: 325px;
    }

    splash>div {
        height: 14vh;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #00000000;
        padding: .5rem;
    }

}